body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content-wdrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
img.responsive {
    width: 30em;
    max-width: 100%; 
}
/* Media query for small screens */
@media (max-width: 600px) {
    img.responsive {
        width: 100%;
    }
}